body {
    margin: 5%;
    background-color: slategrey;
}

#showCountries {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.country {
    width: 200px;
    border: solid 3px gold;
    border-radius: 20px;
    margin: 15px;
    padding: 10px;
    background-color: bisque;
}

.country img {
    width: 100%;
}